html,body
{
    width: 100%;
    height: 100%;
    border: 0px;
    overflow: auto;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #000000;
    font-family: Arial;
    color: #834eb2;
    font-size: 12px;
}

body,table,tr,td,div
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

b
{
    color: #834eb2;
    font-weight: bold;
}


a
{
    color: #834eb2;
    text-decoration: none;
}

a:hover
{
    color: #666666;
    text-decoration: none;
}

#Content
{
    float: left;
}

#Column1
{
    width: 300px;
    float: left;
}

#sudokuBoard
{
    width: 426px;
    float: auto;
   
}

#Column2
{
    width: 174px;
    margin-left: 40px;
    float: left;
}



td.boardCellGroupA,td.boardCellGroupB
{
    background-color: #000000;
}

td.boardCellGroupA td.boardCell
{
    width: 44px;
    height: 44px;
    border: 1px solid #834eb2;
    background-color: #000000;
}

td.boardCellGroupB td.boardCell
{
    width: 44px;
    height: 44px;
    border: 1px solid #834eb2;
    background-color: #000000;
}

.staticValue
{
    font-family: Arial;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: #9886a0;
}

.staticValue,.editValue
{
    width: 42px;
    height: 42px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #ffeaea;
}

.editValue:hover
{
    background: #eee3f7;
}

label
{
    position: relative;
    top: 3px;
    line-height: 24px;
    font-size: 15px;
    color: #FFFFFF;
}

select
{
    font-family: Arial;
    color: #999999;
    font-weight: normal;
    font-size: 12px;
    border-top: solid 1px #CCCCCC;
    border-left: solid 1px #E2E3EA;
    border-bottom: solid 1px #FFFFFF;
    border-right: solid 1px #E2E3EA;
    margin: 3px 0px;
    min-width: 100px;
    background: #FDFDFD;
}



.editValue input
{
    font-family: Arial;
    font-size: 30px;
    color: #ff0101;
    width: 44px;
    /*height: 44px;*/
    padding: 0px;
    border: 0px;
    background: none !important;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: -1px;
}


